# =====================
# Logs (SLURM, Gurobi)
# =====================
*.log
job-*.log

# =====================
# Gurobi installers
# =====================
gurobi*.tar.gz

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Environnements
# =====================
.venv/
env/


# =====================
# OS / Editors
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

